@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: rgb(252, 84, 84);
    --primary-color-hover: rgba(252, 84, 84, .8);
    --dark-color: black;
    --text-color: #333;

    // Default Layout
    --defaultlayout-header-height: 60px;
    --defaultlayout-width: 1200px;
    --defaultlayout-horizontal-spacer: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button, input, [tabindex] {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}