.wrapper {
    --search-border-radius: 4px;
    --search-height: 36px;
    --search-top-spacer: 8px;

    width: 100%;
    height: var(--defaultlayout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.inner {
    width: var(--defaultlayout-width);
    background-color: white;
    height: 100%;
    padding: 0 var(--defaultlayout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoImage {
    height: 32px;
    margin: 8px;
}

.clearButton {
    display: none;
}

.clearButton .clearIcon {
    height: 16px;
}

.search, 
.searchResult {
    width: 400px;
    z-index: 100;
    position: relative;
}

.search {
    position: relative;
    display: flex; /* Align input and button in a row */
    align-items: center; /* Center vertically */
    background-color: #eee;
    border-radius: var(--search-border-radius);
    height: var(--search-height);

    input {
        color: var(--dark-color);
        flex: 1; /* Allow the input to take available space */
        padding: 8px; /* Add some padding for better appearance */
        background-color: transparent;
        font-size: 1.4rem;
    }

    input:not(:placeholder-shown) ~ .searchButton {
        color: black;
    }

    button {
        padding: 8px; /* Add padding to the button */
        cursor: pointer; /* Show pointer cursor on hover */
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: 40px;
        height: calc(var(--search-height) - var(--search-top-spacer)*2);
        width: 1px;
        background-color: rgb(176, 176, 176);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, .2);
    }
}

.searchItems > :first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.searchItem {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
}

.searchTitle {
    color: var(--text-color);
    font-weight: 600;
    margin: 10px 12px;
}

.searchButton {
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    border-left: 1px #282828;
    // height: calc(var(--search-height) -3px);
    height: calc(var(--search-height) - 3px);

    &:hover {
        background-color: #ddd;
    }
}

.searchIcon {
    height: 24px;
}

.moreIcon {
    height: 2rem;
}

.moreButton {
    margin-left: 6px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}  

.menuItemIcon {
    height: 18px;
    margin-right: 10px;
}

.actions {
    display: flex;
    align-items: center;
}

.actionButton {
    background-color: transparent;
    margin-right: 12px;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.actionIcon {
    height: 24px;
}

.userAvatar {
    cursor: pointer;
    height: 32px;
    border-radius: 32px;

    &:hover {
    opacity: .8;
    }
}